@model Software_Engineering.Models.Car

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Generate Report</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.Label("Select Month for Report", htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownList("Month", new List<SelectListItem> {
                        new SelectListItem { Text = "January", Value = "January" },
                        new SelectListItem { Text = "February", Value = "February" },
                        new SelectListItem { Text = "March", Value = "March" },
                        new SelectListItem { Text = "April", Value = "April" },
                        new SelectListItem { Text = "May", Value = "May" },
                        new SelectListItem { Text = "June", Value = "June" },
                        new SelectListItem { Text = "July", Value = "July" },
                        new SelectListItem { Text = "August", Value = "August" },
                        new SelectListItem { Text = "September", Value = "September" },
                        new SelectListItem { Text = "October", Value = "October" },
                        new SelectListItem { Text = "November", Value = "November" },
                        new SelectListItem { Text = "December", Value ="December" } }, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Enter Year for Report", htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.TextBox("years", null,new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                @Html.ActionLink("Manage Closings", "Create", "Closing")
            </div>
        </div>
    </div>
}
